@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',
    sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background-color: rgb(202, 202, 202);
    line-height: 75px;
    padding: 0 80px;
}

nav .logo{
    float: left;
}

nav ul{
    float: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a:hover{
    border-bottom: 3px solid black;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    padding: 7px 20px;
}

nav ul li a:active{
    color: rgb(88, 88, 88);
}

.bg-vid{
    /* position: fixed; */
    right: 0;
    bottom: 0;
    top:60px;
    height: 90vh;
    width: 900px;
    /* min-width: 100%; */
    /* min-height: 100%; */
}