.container1 video {
    height: 710px;

}

.container1 {
    background-color: black;
    height: 100vh;
    width: 99vw;
}

.container0 {
    position: relative;
    margin-top: 0;
    border: 0;
    width: 100vw;
}

.container0 video {
    width: 99vw;
}

.c1 {
    position: absolute;
    top: 40%;
    left: 7%;
}

.c1 h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.c1 p {
    color: white;
}

.c1 button {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 8px 18px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.container1{
    position: relative;
}

.c2{
    position: absolute;
    color: white;
    right: 5%;
    top: 25%;
    width: 350px;
    font-size: 30px;
}

.c2 p{
    margin-bottom: 5px;
}

.c2 button {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 8px 18px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

span{
    font-weight: bold;
}

.container2 img{
    width: 98.5vw;
    height: 100vh;
    width: 99vw;
}

.content{
    text-align: center;
}

.container3{
    margin-bottom: 30px;
    width: 99vw;
}

.container3 h3{
    font-family: 'Roboto',
    sans-serif;
    font-style: italic;
    font-weight: 800px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
}

.content img{
    width: 400px;
    z-index: 0;
}

.content img:hover{
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 2px;
}

.content31 , .content32, .content33{
    position: relative;
    z-index: 2;
}

.para{
    position: absolute;
    top: 45%;
    left: 45%;
}

.para p{
    z-index: 5;
    color: white;
    font-weight: bold;
}

.container4{
    text-align: center;
    background-color: #eeebe5;
    padding-bottom: 10px;
    width: 99vw;
    position: relative;
}

.content{
    display: flex;
    justify-content: space-around;
}

.content1,.content2,.content3{
    display: inline-block;
    width: 350px;
}

.container4 h2{
    font-size: 30px;
    left: 0;
}

.heading{
    position: absolute;
    left: 80px;
    top: 15px;
}