@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',
    sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background-color: rgb(202, 202, 202);
    line-height: 75px;
    padding: 0 80px;
}

nav .logo{
    float: left;
}

nav ul{
    float: right;
}
nav {
    box-shadow: 0px 1px 6px black;
}

.container1 video {
    height: 710px;

}

.container1 {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a:hover{
    border-bottom: 3px solid rgba(150, 9, 9, 0.797);
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    padding: 7px 20px;
}

nav ul li a:active{
    color: rgb(88, 88, 88);
}

.cart{
    height: 29px;
    width: 30px;
    margin-top: 10px;
}

.container2 img{
    width: 98.5vw;
    height: 100vh;
}