@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',
    sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background-color: rgb(202, 202, 202);
    line-height: 75px;
    padding: 0 80px;
}

nav .logo{
    float: left;
}

nav ul{
    float: right;
}
nav {
    box-shadow: 0px 1px 6px black;
}

.container1 video {
    height: 710px;

}

.container1 {
    background-color: black;
    height: 100vh;
    width: 99vw;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a:hover{
    border-bottom: 3px solid rgba(150, 9, 9, 0.797);
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    padding: 7px 20px;
}

nav ul li a:active{
    color: rgb(88, 88, 88);
}

.cart{
    height: 29px;
    width: 30px;
    margin-top: 10px;
}

.container2 img{
    width: 98.5vw;
    height: 100vh;
    width: 99vw;
}

.content{
    text-align: center;
}

.container3{
    margin-bottom: 30px;
    width: 99vw;
}

.container3 h3{
    font-family: 'Roboto',
    sans-serif;
    font-style: italic;
    font-weight: 800px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
}

.content img{
    width: 400px;
    z-index: 0;
}

.content img:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.content31 , .content32, .content33{
    position: relative;
    z-index: 2;
}

.para{
    position: absolute;
    top: 45%;
    left: 45%;
}

.para p{
    z-index: 5;
    color: white;
    font-weight: bold;
}

.container4{
    text-align: center;
    background-color: #eeebe5;
    margin-bottom: 2px;
    width: 99vw;
}

.content{
    display: flex;
    justify-content: space-around;
}

.content1,.content2,.content3{
    display: inline-block;
    width: 350px;
}